/* @theme white */

@import 'default';

section {
	width: 1920px;
	height: 1080px;
	font-size: 40px;
	padding: 40px;
	background-image: url(./logo.png);
	background-repeat: no-repeat;
	background-position: right top;
}

header {
	width: 100%;
	padding: 1px;
	color: rgb(0, 0, 0);
	background: linear-gradient(to right, rgb(39, 38, 38), white);
	top: 120px;
}

footer {
	width: 100%;
	background-color: silver;
	color: rgb(61, 51, 51);
	text-align: left;
	padding: 15px;
	font-style: oblique;
}

h1 {
	font-size: 90px;
	color: #09c;
}